// typo

%t-h3 {
    font-family: $font-family-sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

%t-h3sub {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

%t-p {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

%t-14 {
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

%t-15 {
    font-family: $font-family-sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

%t-16 {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
